:root {
  --tan: #f3c9a7;
  --orange: #d2975c;
  --green: #c8b953;
  --blue: #9fb9c0;
  --rose: #d38681;
  --white: #f5f5f5;
  --black: #000;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.top-bar {
  z-index: 90;
  position: relative;
  background-color: var(--green) !important;
  color: var--(white) !important;
}

.menu,
.menu li,
.menu li h1 {
  background-color: var(--green) !important;
  color: var(--white);
}

#location-search-box {
  z-index: 100;
  position: relative;
}

.custom-map-control-button {
  z-index: 100;
  position: relative;
}

#location-search-box {
  background-color: var(--blue);
  color: var(--white);
  border: 25px solid var(--green);
  border-radius: 25px;
  padding: 30px;
  width: 100%;
  height: 100%;
}

#location-search-wrapper {
  height: calc(100% - 150px);
}

#box {
  z-index: 100;
  position: relative;
  background-color: var(--blue);
  border: solid 10px white;
  height: 60%;
  width: 20%;
  margin: 30px;
  color: black;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
} 
/* make #box responsive */

.site-info {
  z-index: 100;
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  border: dotted 2px white;
  margin-bottom: 5%;
  padding: 3px;
}

#past-locations{
  z-index: 100;
  transform: translate(200%, -80%);
  background-color: var(--blue);
  max-width: 30%;
  border: solid 10px white;
  padding: 30px;
  display:none;
}

button {
  background-color: var(--rose);
  color: var(--white);
  padding: 20px;
  margin: 20px;
}

button:hover{
  box-shadow: 0px 0px 20px white;
}

#map {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: -200px;
  left: 0;
  right: 0;
  z-index: 0;
}

#my-location {
  margin: 0 auto;
  display: block;
  font-size: 17px;
}

#enter-location {
  text-align: center;
}

/* This button is a central focus of our app, styling to accentuate it*/
#get-tested-button{
    border: 25px solid #d38681;
    border-radius: 15px;
    background-image: "url('assets/images/test-graphic.png')";
    transform: translate(0, -30%);
}

 /* add shadow to to outer picture on hover*/
#get-tested-button img:hover{
    box-shadow: 0px 0px 20px white;
}
 /* add highlit to inner picture on hover*/
#get-tested-button:hover{
    box-shadow: 10px 10px 5px grey;
}